header {
  width: 100%;
  height: auto;
  margin-top: 8%;
  padding-bottom: 2%;
  border-bottom: dotted 0.7px;
}
#logo {
  font: italic 1.6em serif;
}
.cate_list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: end;
}
footer {
  width: 90%;
  margin: 5% auto;
}
